language: node_js
node_js:
  - "7"
  - "6"
  - "5"
  - "4"
  - "10"
os:
  - linux
  - osx
install:
  - yarn install
after_success:
  - yarn run coverage
after_script:
  - 'cat coverage/lcov.info | ./node_modules/.bin/coveralls'
